*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161621;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.frame {
  height: 36rem;
  width: 36rem;
  background-color: aquamarine;
  position: relative;
  border-radius: 1rem;
}

.track-1,
.track-2 {
  position: absolute;
  z-index: 1;
  height: 36rem;
  width: 36rem;
  border-radius: 50%;
  border: 2px dashed #666;
}

.track-1 {
  bottom: -18rem;
  left: -12rem;
}

.track-2 {
  top: 18rem;
  left: 18rem;
}

.circle-1,
.circle-2 {
  position: absolute;
  z-index: 1;
  top: 0rem;
  left: 0rem;
  height: 36rem;
  width: 36rem;
  border-radius: 50%;
  /* background: blue; */
}

.point-1 a img,
.point-2 a img {
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.point-1 a img {
  top: -25px;
  left: 50%;
  transform: rotate(90deg);
  /* transform: translate(-50%, -50%); */
}

.point-2 a img {
  top: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(-90deg);
}

@keyframes rotate {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-340deg);
  }
}

@keyframes rotate-opposite {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(340deg);
  }
}

.circle-1 {
  animation: rotate-opposite 10s infinite linear;
}
.circle-2 {
  animation: rotate 10s infinite linear;
}

.frame {
  overflow: hidden;
  position: relative;
  height: 36rem;
  width: 36rem;
}
